@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-[90rem] p-6 w-full mx-auto;
}

@layer base {
  }

@layer components{
    body.open{  
        @apply overflow-hidden;
        /* disable scroll on nav mobile open */
    }
    
    /* .header{
        @apply bg-dark md:bg-transparent;
    } */
    .header .container{
        @apply py-3 md:py-0;
    }
    .header__wrapper{
        @apply flex items-center justify-between
        md:block md:h-16 md:mx-auto;
    }
    
    .branding{
        @apply items-center gap-12
        md:flex md:justify-between
        md:max-w-[87rem] md:w-full
        md:py-4 md:px-4
        md:bg-transparent;
    }
    .branding.scroll{
        @apply md:bg-dark
        md:fixed md:rounded-lg
        md:px-4 md:my-6
        transition-all duration-500;
    }
    .branding.scroll .header__navd{
        @apply md:mr-0; /*added to correct right side shifting on scroll*/
    }
    .branding img{
        @apply w-[5rem] md:w-[7rem];
    }
    .branding .header__navd{
        @apply hidden
        md:flex
        md:-mr-2 /*added to correct right side shifting on scroll*/;
    }
    .branding .header__navd li{
        @apply font-semibold text-lg text-light 
        py-3 px-4
        transition-all duration-150
        hover:text-accent hover:bg-light;
    }
    
    .header__action{
        @apply bg-dark
        w-0 h-[100vh] px-0 pt-0 
        absolute top-0 right-0
        overflow-hidden transition-all
        md:static md:h-fit md:w-fit;
    }
    .header__action.open{
        @apply w-full h-[100vh] px-10 pt-10
        overflow-hidden
        flex flex-col gap-16
        justify-center items-center
        transition-all duration-300;
    }
    .header__action .header__navm{
        @apply pb-5 h-fit
        flex flex-col
        justify-center items-center
        md:hidden;
    }
    .header__navm li{
        @apply w-[16rem] h-16 py-6 px-12
        text-light font-bold text-4xl
        flex justify-center items-center
        transition-all duration-150
        hover:text-accent hover:bg-light;
    }
    .header__navm li a.active{
        @apply text-accent;
    }
    .header__action .header__navm__socials{
        @apply flex text-light
        justify-center items-center
        md:hidden;
    }
    .header__action .header__navm__socials li{
        @apply text-3xl
        w-16 h-16 px-10
        flex justify-center items-center
        transition-all duration-150
        hover:bg-light;
    }
    
    .header__action .header__btn{
        @apply pt-5 flex flex-col gap-3 
        md:flex-row-reverse;
    }
    .header__action .header__btn a{
        @apply flex gap-[1rem] items-center
        transition-all duration-150
        hover:text-accent;
    }
    .header__action .header__kamote{
        @apply flex gap-5;
    }
        
    .burger__menu{
        @apply flex flex-col items-end
        md:hidden;
    }
    .burger__menu span{
        @apply w-[1.5rem] h-[0.3rem] bg-light
        block rounded-full
        transition-all duration-500;
    }
    .burger__menu span:nth-child(2){
        @apply w-[1.25rem] my-1;
    }
    .burger__menu span:nth-child(3){
        @apply w-[1rem];
    }
    .burger__menu.open span{
        @apply w-[1.5rem] 
        transition-all duration-500;
    }
    .burger__menu.open span:first-child{
        @apply translate-y-[12px] rotate-[225deg]
        transition-all duration-300;
    }
    .burger__menu.open span:nth-child(2){
        @apply opacity-0 transition-all;
    }
    .burger__menu.open span:last-child{
        @apply translate-y-[-6px] rotate-[-225deg]
        transition-all duration-300;
    }

    .homeBanner{
        @apply h-[100vh] 
        bg-bannah bg-cover bg-center;
    }
    .homeBanner__wrapper{
        @apply h-[90vh]
        flex flex-col gap-10
        justify-center items-center;
    }
    .homeBanner__wrapper h1{
        @apply text-center text-light font-semibold
        text-5xl max-w-[30rem]
        sm:text-7xl sm:max-w-[45rem]
        md:text-8xl md:max-w-[55rem];
    }
    .homeBanner__buttons{
        @apply flex flex-col justify-center items-center gap-4
        w-full md:flex-row md:mx-auto;
    }
    .homeBanner__buttons button{
        @apply w-full md:w-[10rem];
    }

    .services__cards{
        @apply grid grid-cols-1 gap-12
        md:grid-cols-3;
    }
    .services__card{
        @apply flex flex-col gap-10
        justify-center items-center
        shadow-2xl rounded-2xl border-2
        transition-all duration-200
        hover:scale-[1.05];
    }
    .services__card:hover button{
        @apply bg-accent text-light
    }
    .services__card h3, .services__card p, .services__card ul{
        @apply px-8;
    }
    .services__card h3{
        @apply text-4xl font-bold pt-6;
    }
    .services__card p{
        @apply text-lg text-justify;
    }
    .services__card ul{
        @apply list-square w-full ml-12;
    }
    .services__card li{
        @apply py-2 text-lg;
    }
    .services__card button{
        @apply bg-transparent text-accent 
        border-t-accent border-t-[1px]
        
        w-full flex-grow rounded-none;
    }

    .project__card{
        @apply relative;
    }
    .project__card:before{
        @apply 
        w-[100%] h-[100%]
        absolute top-0 left-0
        content-['']
        md:bg-black md:opacity-60
        z-10
        transition-all;
    }
    .project__card:hover+.project__card:before{
        @apply opacity-0 h-0 w-0;
    }
    .project__card img{
        @apply w-full object-cover;
    }
    .project__card .project__card__details{
        @apply  mx-8 px-6 py-8
        /* opacity-0 */
        flex flex-col gap-12
        justify-center items-center
        absolute top-0 left-0
        transform translate-y-[50%]
        transition-all duration-200
    }
    .project__card .project__card__details:before{
        @apply w-full h-full
        absolute top-[50%] left-0
        content-['']
        -z-10
        transform -translate-y-1/2
        bg-black opacity-60
    }
    .project__card:hover .project__card__details{
        @apply opacity-100;
    }
    .project__card__details{
        @apply text-light
    }
    .project__card__details h3{
        @apply text-5xl font-bold
    }
    .project__card__details button{
        @apply p-4 text-xl
        rounded-2xl
    }

    

    .footer__wrapper{
        @apply grid grid-cols-1 gap-8
        items-center justify-center
        md:grid-cols-3;
    }
    .footer__socials a{
        @apply text-light text-xl
        w-8 h-8
        flex justify-center items-center
        hover:bg-light;
    }

}

@layer utilities{
    .btn{
        @apply inline-block
        p-[1rem] px-[2rem]
        rounded-full
        border-transparent border-[1px] 
        text-base font-medium
        transition-all;
    }
    .btn.bg--accent{
        @apply bg-accent text-light
        hover:bg-light hover:text-accent hover:border-accent;
    }
    .btn.bg--transparent-alt{
        @apply bg-transparent text-light border-[1px] border-light
        hover:bg-light hover:text-accent hover:border-accent;
    }
    
    .btn.bg--dark{
        @apply bg-dark text-light;
    }
    .btn.bg--light{
        @apply bg-light text-dark border-[1px] border-dark;
    }
    .btn.bg--transparent-no-border{
        @apply bg-transparent text-dark;
    }
    .btn.bg--transparent{
        @apply bg-transparent text-dark border-[1px] border-dark;
    }
    
}