@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-[90rem] p-6 w-full mx-auto;
}

@layer base {
  }

@layer components{
    body.open{  
        @apply overflow-hidden;
        /* disable scroll on nav mobile open */
    }
    
    .header{
        @apply bg-dark md:bg-transparent;
    }
    .header .container{
        @apply py-3 md:py-0;
    }
    .header__wrapper{
        @apply flex items-center justify-between
        md:block md:h-16 md:mx-auto;
    }
    
    .branding{
        @apply items-center gap-12
        md:flex md:justify-between
        md:max-w-[87.5rem] md:w-full
        md:py-4 md:px-4
        md:bg-transparent;
    }
    .branding.scroll{
        @apply md:bg-dark
        md:fixed md:rounded-lg
        md:px-4 md:my-6
        transition-all duration-500;
    }
    .branding.scroll .header__navd{
        @apply md:mr-0; /*added to correct right side shifting on scroll*/
    }
    .branding img{
        @apply w-[5rem] md:w-[7rem];
    }
    .branding .header__navd{
        @apply hidden
        md:flex md:gap-4
        md:-mr-2 /*added to correct right side shifting on scroll*/;
    }
    .branding .header__navd li{
        @apply font-semibold text-lg text-light 
        py-3 px-2
        hover:text-accent hover:bg-light;
    }
    
    .header__action{
        @apply bg-dark
        w-0 h-[100vh] px-0 pt-0 
        absolute top-0 right-0
        overflow-hidden transition-all
        md:static md:h-fit md:w-fit;
    }
    .header__action.open{
        @apply w-full h-[100vh] px-10 pt-10
        overflow-hidden
        flex flex-col gap-16
        justify-center items-center
        transition-all duration-300;
    }
    .header__action .header__navm{
        @apply pb-5 h-fit
        flex flex-col gap-4
        justify-center items-center
        md:hidden;
    }
    .header__navm li{
        @apply w-[16rem] h-16 py-2 px-12
        text-light font-bold text-4xl
        flex justify-center items-center
        hover:text-accent hover:bg-light;
    }
    .header__action .header__navm__socials{
        @apply flex gap-4 text-light
        justify-center items-center
        md:hidden;
    }
    .header__action .header__navm__socials li{
        @apply 
        w-16 h-16 text-3xl
        flex justify-center items-center
        hover:bg-light;
    }
    
    .header__action .header__btn{
        @apply pt-5 flex flex-col gap-3 
        md:flex-row-reverse;
    }
    .header__action .header__btn a{
        @apply flex gap-[1rem] items-center 
        hover:text-accent;
    }
    .header__action .header__kamote{
        @apply flex gap-5;
    }
        
    .burger__menu{
        @apply flex flex-col items-end
        md:hidden;
    }
    .burger__menu span{
        @apply w-[1.5rem] h-[0.3rem] bg-light
        block rounded-full
        transition-all duration-500;
    }
    .burger__menu span:nth-child(2){
        @apply w-[1.25rem] my-1;
    }
    .burger__menu span:nth-child(3){
        @apply w-[1rem];
    }
    .burger__menu.open span{
        @apply w-[1.5rem] 
        transition-all duration-500;
    }
    .burger__menu.open span:first-child{
        @apply translate-y-[12px] rotate-[225deg]
        transition-all duration-300;
    }
    .burger__menu.open span:nth-child(2){
        @apply opacity-0 transition-all;
    }
    .burger__menu.open span:last-child{
        @apply translate-y-[-6px] rotate-[-225deg]
        transition-all duration-300;
    }

    .homeBanner{
        @apply h-[100vh] 
        bg-bannah bg-cover bg-center;
    }
    .homeBanner__wrapper{
        @apply h-[90vh]
        flex flex-col gap-10
        justify-center items-center;
    }
    .homeBanner__wrapper h1{
        @apply text-center text-light
        text-5xl max-w-[30rem]
        sm:text-7xl sm:max-w-[45rem]
        md:text-8xl md:max-w-[55rem];
    }
    .homeBanner__buttons{
        @apply flex flex-col justify-center items-center gap-4
        w-full md:flex-row md:mx-auto;
    }
    .homeBanner__buttons button{
        @apply w-full md:w-[10rem];
    }

}

@layer utilities{
    .btn{
        @apply inline-block
        p-[1rem] px-[2rem]
        rounded-full
        border-transparent border-[1px] 
        text-base font-medium
        transition-all;
    }
    .btn.bg--accent{
        @apply bg-accent text-light
        hover:bg-light hover:text-accent hover:border-accent;
    }
    .btn.bg--transparent-alt{
        @apply bg-transparent text-light border-[1px] border-light
        hover:bg-light hover:text-accent hover:border-accent;
    }
    
    .btn.bg--dark{
        @apply bg-dark text-light;
    }
    .btn.bg--light{
        @apply bg-light text-dark border-[1px] border-dark;
    }
    .btn.bg--transparent-no-border{
        @apply bg-transparent text-dark;
    }
    .btn.bg--transparent{
        @apply bg-transparent text-dark border-[1px] border-dark;
    }
    
}